<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.tud.nhd.petimo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/PetimoTheme.Light">
        <activity android:name=".view.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.MonitorResultActivity"/>
        <activity
            android:name=".view.activities.AdminActivity"
            android:label="@string/title_activity_admin"
            android:parentActivityName=".view.activities.MainActivity"
            android:theme="@style/PetimoTheme.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tud.nhd.petimo.view.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".view.activities.StatisticsActivity"
            android:label="@string/menu_statistics"
            android:parentActivityName=".view.activities.MainActivity"
            android:theme="@style/PetimoTheme.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tud.nhd.petimo.view.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".view.activities.EditBlockActivity"
            android:label="@string/menu_monitored_task"
            android:parentActivityName=".view.activities.MainActivity"
            android:theme="@style/PetimoTheme.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tud.nhd.petimo.view.activities.MainActivity"/>
        </activity>
        <activity android:name=".view.activities.SettingsActivity"
                  android:label="@string/menu_settings"
                  android:parentActivityName=".view.activities.MainActivity"
                  android:theme="@style/PetimoTheme.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tud.nhd.petimo.view.activities.MainActivity"/>
        </activity>
    </application>

</manifest>